*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #181818;
    display: flex;
    height: 44px;
    
}

header ul{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: auto;
    height: 44px;
    justify-content: center;
}

header ul li a{
   color: #FFFFFFCC; 
   font-size: 12px;
   
  
}

header ul li{
    display: flex;
}

.section{background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 736px;
    margin-top: -1px;
    display: flex;
    margin-bottom: 10px;}

.first-section{
    background-image: url(src/1.png);
    
}

.second-section{
    background-image: url(src/2.png);
}

.third-section{
    background-image: url(src/3.png);
}

.title{
    color: white;
    margin-bottom: 18px;
}
.title2{
    color: #1D1D1F;
    margin-bottom: 18px;
}
.iphone-button a{
    color:#2997FF ;
    font-size: 19px;
    padding: 17px;
}

.iphone-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 55px auto auto auto;
}

.title h1{
    font-size: 60px;
}
.title2 h1{
    font-size: 52px;
    text-align: center;
}
.title h2{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.title2 h2{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

#watch{
    height: 38px;
}

#grid{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

#grid div{
   height: 580px;
   margin: 5px;
}

#ipad{
    background-image: url(src/ipad.png);
    background-size: cover;
    background-position: center;
}

#mac{
    background-image: url(src/mac.png);
    background-size: cover;
    background-position: center;
}

#homepod{
    background-image: url(src/homepod.png);
    background-size: cover;
    background-position: center; 
}

#airpods{
    background-image: url(src/airpods.png);
    background-size: cover;
    background-position: center;
}

#fitness{
    background-image: url(src/fitness.png);
    background-size: cover;
    background-position: center;  
}

#bracelet{
    background-image: url(src/bracelet.png);
    background-size: cover;
    background-position: center;
}

.gridtext{
   display: flex;
   flex-direction: column;
   align-items: center;

}

.gridtext h1{
    margin-top: 50px;
    font-size: 36px;
}

.gridtext p{
    font-size: 19px;
}

.gridtext div a{
    font-size: 17px;
    padding: 17px;
    color: #0066CC;
}

#ipad{
    margin-top: auto;

}

.whitetext{
    color: white;
}